body {
  font-family: Arial, Cursive;
  margin: 20px;
  background-color: #e0c2f2;
}


h1 {
  color: #160024;
}

h2 {
  color: #4204691; 
}

.highlight {
  color: #ff8ae6; 
}

#special {
  color: white;
  padding: 15px;
  border-radius: 5px;
}

input[type="text"]{
  padding: 5px;
  width: 250px;
  margin-top: 5px;
}

button{
  padding: 6px 12px;
  margin-left: 5px;
}

#status{
  margin-top: 10px;
  font-weight: bold;
}

#status.pass{
  color: green;
}

#status.fail{
  color: red;
}

ul{
  margin-top: 10px;
  padding-left: 20px;
}

li{
  margin-bottom: 5px;
}
